In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.8/site-packages (3.11.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import pandas as pd
import pymongo

In [3]:
from pymongo import MongoClient

client = MongoClient("mongo")

In [4]:
database = client['tripadvisor']
collection = database['restaurants']

In [6]:
df = pd.read_csv("TA_restaurants_curated.csv")
df.tail()

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
125522,1662,Konrad Kaffee- & Cocktailbar,Zurich,NaN,NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188113-d13273526-Reviews-K...,d13273526
125523,1663,Blueberry American Bakery,Zurich,['Cafe'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188113-d13292844-Reviews-B...,d13292844
125524,1664,Restaurant Bahnhof,Zurich,NaN,NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188113-d13296092-Reviews-R...,d13296092
125525,1665,Yoyo Pizza,Zurich,['Fast Food'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188113-d13323362-Reviews-Y...,d13323362
125526,1666,dieci,Zurich,"['Italian', 'Pizza', 'Mediterranean', 'Diner']",NaN,NaN,$$ - $$$,NaN,NaN,/Restaurant_Review-g188113-d13349842-Reviews-D...,d13349842

In [7]:
df.shape

(125527, 11)

## Netoyage des donn√©es

In [8]:
df.dtypes

Unnamed: 0             int64
Name                  object
City                  object
Cuisine Style         object
Ranking              float64
Rating               float64
Price Range           object
Number of Reviews    float64
Reviews               object
URL_TA                object
ID_TA                 object
dtype: object

In [9]:
df = df.dropna()
df.shape

(74225, 11)

In [10]:
df = df.drop_duplicates()
df.shape

(74225, 11)

In [13]:
df.head()

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170

In [15]:
city_unique = df["City"].unique()
print(city_unique)

['Amsterdam' 'Athens' 'Barcelona' 'Berlin' 'Bratislava' 'Brussels'
 'Budapest' 'Copenhagen' 'Dublin' 'Edinburgh' 'Geneva' 'Hamburg'
 'Helsinki' 'Krakow' 'Lisbon' 'Ljubljana' 'London' 'Luxembourg' 'Lyon'
 'Madrid' 'Milan' 'Munich' 'Oporto' 'Oslo' 'Paris' 'Prague' 'Rome'
 'Stockholm' 'Vienna' 'Warsaw' 'Zurich']

In [16]:
cuisine_unique = df["Cuisine Style"].unique()
print(cuisine_unique)

["['French', 'Dutch', 'European']"
 "['Dutch', 'European', 'Vegetarian Friendly', 'Gluten Free Options']"
 "['Mediterranean', 'French', 'International', 'European', 'Vegetarian Friendly', 'Vegan Options']"
 ... "['Bar', 'Sushi', 'Delicatessen', 'Pub', 'Wine Bar']"
 "['Mediterranean', 'European', 'Central European', 'Bar', 'Vegetarian Friendly']"
 "['Chinese', 'Swiss', 'Mediterranean', 'European']"]

In [17]:
cuisine_unique.shape

(19158,)

In [19]:
price = df["Price Range"].unique()
print(price)

['$$ - $$$' '$$$$' '$']

## Importation des donn√©es

In [11]:
collection.delete_many({})

In [12]:
collection.insert_many(df.to_dict(orient='records'))

## Traitment de donn√©es